<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="disqus-comments" class="sb-disqus-comments">
        <div id="disqus_thread"></div>
        <script th:inline="javascript">
            var disqus_config = function () {
                this.page.url = /*[[${publisherUrl + post.url}]]*/ 'PAGE_URL';
                this.page.identifier = /*[[${post.slug}]]*/ 'PAGE_IDENTIFIER';
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://' + /*[[${disqusShortname}]]*/ 'SHORTNAME' + '.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</body>
</html>
